/*
 *layDate页面样式
 */

.ag-lay-date-page {
  min-width: 1140px;
}

.ag-lay-date-page .rx-page-component {
  width: 1120px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

/*每个条目 标题间距*/
.ag-lay-date-page .rx-each-item .rx-tit h2{
  margin-bottom: 20px;
}

/*input*/
.date-time-wrap {
  margin: 10px 0;
}

.date-time-wrap > div {
  width: 33.333%;
  text-align: center;
}

.date-time-wrap > div:not(:nth-child(-n+3)) {
  margin-top: 20px;
}

.date-time-wrap > div label {
  display: inline-block;
  min-width: 98px;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}

.date-time-wrap .ag-date-time {
  width: 224px;
  height: 36px;
  border: 1px solid #cecece;
  border-radius: 3px;
  padding-left: 8px;
  vertical-align: middle;
}

/*同时绑定多个 特殊样式*/
.multiple-bindings-wrap{
  width: 100% !important;
  text-align: left !important;
}

.multiple-bindings-wrap input{
  margin-left: 30px;
}

/*其它功能示例 特殊样式*/
.not-input{
  display: inline-block;
  width: 224px;
  height: 36px;
  line-height: 36px;
  text-align: left;
  border-bottom: 1px solid #cecece;
  padding-left: 8px;
  vertical-align: middle;
}

/*直接嵌套显示 特殊样式*/
.nest-wrap>div{
  width: 25% !important;
  margin-top: 0 !important;
}

