/*! laydate-v5.0.85 日期与时间组件 MIT License  http://www.layui.com/laydate/  By 贤心 */
.laydate-set-ym, .layui-laydate, .layui-laydate *, .layui-laydate-list {
  box-sizing: border-box
}

@font-face {
  font-family: laydate-icon;
  src: url(font/iconfont.eot);
  src: url(font/iconfont.eot#iefix) format('embedded-opentype'), url(font/iconfont.svg#iconfont) format('svg'), url(font/iconfont.woff) format('woff'), url(font/iconfont.ttf) format('truetype')
}

.laydate-icon {
  font-family: laydate-icon !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

html #layuicss-laydate {
  display: none;
  position: absolute;
  width: 1989px
}

.layui-laydate * {
  margin: 0;
  padding: 0
}

.layui-laydate {
  position: absolute;
  z-index: 66666666;
  margin: 5px 0;
  border-radius: 2px;
  font-size: 13px;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: laydate-upbit;
  animation-name: laydate-upbit
}

.layui-laydate-main {
  width: 254px
}

.layui-laydate-content td, .layui-laydate-header *, .layui-laydate-list li {
  transition-duration: .1s;
  -webkit-transition-duration: .1s
}

@-webkit-keyframes laydate-upbit {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    opacity: .3
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes laydate-upbit {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: .3
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.layui-laydate-static {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin: 0;
  -webkit-animation: none;
  animation: none
}

.laydate-ym-show .laydate-next-m, .laydate-ym-show .laydate-prev-m {
  display: none !important
}

.laydate-ym-show .laydate-next-y, .laydate-ym-show .laydate-prev-y {
  display: inline-block !important
}

.laydate-time-show .laydate-set-ym span[lay-type=month], .laydate-time-show .laydate-set-ym span[lay-type=year], .laydate-time-show .layui-laydate-header .layui-icon, .laydate-ym-show .laydate-set-ym span[lay-type=month] {
  display: none !important
}

.layui-laydate-header {
  position: relative;
  line-height: 22px;
  padding: 12px 70px 5px
}

.laydate-set-ym span, .layui-laydate-header i {
  padding: 0 5px;
  cursor: pointer
}

.laydate-set-ym span {
  color: #000;
}

.layui-laydate-header * {
  display: inline-block;
  vertical-align: bottom
}

.layui-laydate-header i {
  position: absolute;
  top: 13px;
  color: #999;
  font-size: 8px
}

.layui-laydate-header i.laydate-prev-y {
  left: 15px
}

.layui-laydate-header i.laydate-prev-m {
  left: 45px
}

.layui-laydate-header i.laydate-next-y {
  right: 15px
}

.layui-laydate-header i.laydate-next-m {
  right: 45px
}

.laydate-set-ym {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.laydate-time-text {
  cursor: default !important
}

.layui-laydate-content {
  position: relative;
  padding: 0 10px 10px 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

.layui-laydate-content table {
  border-collapse: collapse;
  border-spacing: 0
}

.layui-laydate-content td, .layui-laydate-content th {
  width: 36px;
  height: 26px;
  padding: 5px;
  text-align: center
}

.layui-laydate-content td {
  position: relative;
  cursor: pointer
}

.laydate-day-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden
}

.laydate-day-mark::after {
  position: absolute;
  content: '';
  right: 2px;
  top: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%
}

.layui-laydate-footer {
  position: relative;
  width: calc(100% - 22px);
  height: 43px;
  line-height: 26px;
  border-top: 1px solid #ececec;
  margin: 0 auto;
}

.layui-laydate-footer span {
  margin-right: 15px;
  display: inline-block;
  cursor: pointer;
  font-size: 11px;
}

.layui-laydate-footer span:hover {
  color: #30a8ff;
}

.laydate-footer-btns {
  position: absolute;
  right: 0;
  top: 10px
}

.laydate-footer-btns span {
  height: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0 8px;
  color: #585858;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 2px;
}

.laydate-footer-btns span:not(:last-child) {
  margin-right: 5px;
}

.layui-laydate-list > li, .layui-laydate-range .layui-laydate-main {
  display: inline-block;
  vertical-align: middle
}

.layui-laydate-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: #fff
}

.layui-laydate-list > li {
  position: relative;
  width: 33.3%;
  height: 32px;
  line-height: 32px;
  margin: 3px 0;
  text-align: center;
  cursor: pointer;
}

.layui-laydate-list > li:hover {
  background: #eee;
  border-radius: 16px;
}

.layui-laydate-list > li.layui-this {
  background: #30a8ff;
  border-radius: 16px;
}

.laydate-month-list > li {
  width: 25%;
  font-size: 11px;
  margin: 17px 0;
}

.laydate-time-list > li {
  height: 100%;
  margin: 0;
  line-height: normal;
  cursor: default
}

.laydate-time-list p {
  position: relative;
  top: 0;
  line-height: 26px;
  font-size: 11px;
}

.laydate-time-list ol {
  height: 160px;
  padding-left: 26px !important;
  overflow: hidden
}

.laydate-time-list > li:hover ol {
  overflow-y: auto
}

.laydate-time-list ol li {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.laydate-time-list ol li:first-child {
  margin-top: 2px;
}

.laydate-time-list ol li:hover {
  background: #eee;
}

.laydate-time-list ol li.layui-this {
  background: #30a8ff;
}

.layui-laydate-hint {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  line-height: 20px;
  padding: 12px;
  text-align: center;
  font-size: 12px
}

.layui-laydate-range {
  width: 508px
}

.layui-laydate-range .laydate-main-list-0 .laydate-next-m, .layui-laydate-range .laydate-main-list-0 .laydate-next-y, .layui-laydate-range .laydate-main-list-1 .laydate-prev-m, .layui-laydate-range .laydate-main-list-1 .laydate-prev-y {
  display: none
}

.layui-laydate-range .laydate-main-list-1 .layui-laydate-content {
  border-left: 1px solid #e2e2e2
}

.layui-laydate, .layui-laydate-hint {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  background-color: #fff;
  color: #666;
  border-radius: 5px;
}

.layui-laydate-header i:hover, .layui-laydate-header span:hover {
  color: #30a8ff;
}

.layui-laydate-content {
  border-top: none 0;
  border-bottom: none 0
}

.layui-laydate-content th {
  font-weight: 400;
  font-size: 11px;
  color: #888;
}

.layui-laydate-content td {
  font-size: 11px;
  color: #585858;
}

.layui-laydate-content td.laydate-selected {
  background-color: #30a8ff;
}

.laydate-selected:hover {
  background-color: #30a8ff !important
}

.layui-laydate-content td:hover, .layui-laydate-list li:hover {
  color: #585858;
}

.layui-laydate-content td:hover:after {
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 4px;
  background: #eee;
  border-radius: 50%;
  z-index: -1;
}

.laydate-time-list li ol {
  margin: 0;
  padding: 0;
  border: 1px solid #e2e2e2;
  border-left-width: 0
}

.laydate-time-list li:first-child ol {
  border-left-width: 1px
}

.laydate-time-list > li:hover {
  background: 0 0
}

.layui-laydate-content .laydate-day-next, .layui-laydate-content .laydate-day-prev {
  color: #d2d2d2
}

.laydate-selected.laydate-day-next, .laydate-selected.laydate-day-prev {
  background-color: #f8f8f8 !important
}

.layui-laydate-hint {
  color: #ff5050;
}

.laydate-day-mark::after {
  background-color: #5FB878
}

.layui-laydate-content td.layui-this .laydate-day-mark::after {
  display: none
}

.layui-laydate-footer span[lay-type=datetime], .layui-laydate-footer span[lay-type=date] {
  position: absolute;
  top: 9px;
  left: 0;
}

.layui-laydate-footer span[lay-type=date] {
  color: #30a8ff;
}

.layui-laydate .layui-this {
  color: #fff !important;
}

.layui-laydate .layui-this:after {
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 4px;
  background: #30a8ff;
  border-radius: 50%;
  z-index: -1;
}

.layui-laydate .layui-this:hover:after {
  background: #30a8ff !important;
}

.layui-laydate .laydate-disabled, .layui-laydate .laydate-disabled:hover {
  background: 0 0 !important;
  color: #b8b8b8 !important;
  cursor: not-allowed !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

.laydate-theme-molv {
  border: none
}

.laydate-theme-molv.layui-laydate-range {
  width: 508px
}

.laydate-theme-molv .layui-laydate-main {
  width: 254px;
}

.laydate-theme-molv .layui-laydate-header {
  border: none;
  background-color: #30a8ff;
}

.laydate-theme-molv .layui-laydate-header i, .laydate-theme-molv .layui-laydate-header span {
  color: #f6f6f6
}

.laydate-theme-molv .layui-laydate-header i:hover, .laydate-theme-molv .layui-laydate-header span:hover {
  color: #fff
}

.laydate-theme-molv .laydate-main-list-1 .layui-laydate-content {
  border-left: none
}

.laydate-theme-grid .laydate-month-list > li, .laydate-theme-grid .laydate-year-list > li, .laydate-theme-grid .layui-laydate-content td, .laydate-theme-grid .layui-laydate-content thead {
  border: 1px solid #e2e2e2;
}

.laydate-theme-grid .laydate-selected, .laydate-theme-grid .laydate-selected:hover {
  background-color: #f2f2f2 !important;
  color: #009688 !important
}

.laydate-theme-grid .laydate-selected.laydate-day-next, .laydate-theme-grid .laydate-selected.laydate-day-prev {
  color: #d2d2d2 !important
}

.laydate-theme-grid .laydate-month-list, .laydate-theme-grid .laydate-year-list {
  margin: 1px 0 0 1px
}

.laydate-theme-grid .laydate-month-list > li, .laydate-theme-grid .laydate-year-list > li {
  margin: 0 -1px -1px 0
}

.laydate-theme-grid .laydate-year-list > li {
  height: 43px;
  line-height: 43px
}

.laydate-theme-grid .laydate-month-list > li {
  height: 71px;
  line-height: 71px
}
